 
 .hf-text,.hf-btn,.hf-nub{
	border:none;
	outline:none;
}

#pn>.list0 {
	color:#333;
	font:12px/1.3 'Arial','Microsoft YaHei';
}
ul{
list-style:none
}
/*最外层边框ul的样式*/
#pn {
	width:550px;   
	height:auto;
	background:#fff;
	margin:0 auto;    /*居中显示*/
  padding:20px;   /*内边距*/
  margin-top:30px;

}

/*里面li的样式*/
#pn>.list0 {
	padding:20px 0;  /*上下内边距20  左右边距0*/
	position:relative;  /*相对定位*/

}


/*用户评论区域*/
.comment:after {
	clear:both;         /*清除浮动*/
	content:'';         /*内容清空*/
	display:block;      /*块级元素*/
	width:0;            /*宽度*/
	height:0;           /*高度*/
	visibility:hidden;  /*元素隐藏*/
}
.comment {
	*zoom:1;   /*IE浏览器的专有属性 改变定义、布局的属性，清除浮动*/
	padding:10px 0;
  border-top:1px solid #eee;
  
}
/*用户的头像样式*/
.comment-left {
	width:30px;     /*宽度*/
	float:left;     /*左浮动*/
	display:inline; /*变为行内元素*/
	margin-right:10px;  /*右外边距10*/
}
/*用户头像图片宽高*/
.comment-left img {
	width:30px;
	height:30px;
}
/*用户评论区域 外边框样式*/
.comment-right {
	float:left;         /*左浮动*/
	 width:410px;        /*宽度 */
}

/*用户文本行高18px*/
.comment-text {
	line-height:18px;
}
/*用户名颜色*/
.comment-text span {
	color:#eb7350;
}
/*用户的实时 时间*/
.comment-date { 
	font-size:12px;       /*字体大小*/
	line-height:14px;     /*行高*/
	color:#ccc;         /*文字颜色*/
	position:relative;      /*相对定位*/
}
/*点赞的颜色*/
.comment-zan {
	position:absolute;    /*绝对定位*/
	right:40px;           /*右边40像素*/
	bottom:0;             /*底部0像素*/
	color:#808080;      /*字体颜色*/
}

/*评论删除*/
.comment-dele {
	position:absolute;    /*固定定位*/
	right:0;              /*右下角*/
	bottom:0;             
	color:#808080;      /*文字颜色*/
}

/*用户评论书写发表区域清除浮动*/
.hf:after {
	clear:both;     
	content:'';
	display:block;
	width:0;
	height:0;
	visibility:hidden;
}
.hf {
	*zoom:1;
}
/*书写文本区域样式*/
.hf-text {
	border:1px solid #eee;    /*白色边框*/
	display:block;              /*块级*/
	height:15px;                /*高度*/
	width:438px;                /*宽度*/
	padding:5px;                /*内边距*/
	resize:none;                /*调整大小*/  
	color:#ccc;               /*文字颜色*/
	font-size:12px;                 /*文字大小*/
}

/*评论框的样式*/
/*输入字段是否应该启用自动完成功能。*/
.hf-on .hf-text {
	height:60px;                /*高*/
	color:#333;               /*字体颜色*/
	border:1px solid #ff8140;   /*边框*/
}
/*回复按钮样式*/
.hf-btn {                   
	float:right;              /*右浮动*/
	width:65px;               /*宽*/
	height:26px;              /*高*/
	background:#f7f7f7;     /*背景颜色*/
	color:#ccc;             /*文字颜色*/
	font-size:12px;           /*字体大小*/
	display:none;             /**/
} 
.hf-btn-on {
	background:#ff8140;     
	color:#fff;
}
.hf-nub {
	float:right;
	padding:3px 5px;
	color:#666;
	display:none;
}
.hf-on .hf-btn {
	display:inline;
}
.hf-on .hf-nub {
	display:inline;
}