<<<<<<< HEAD:minsu/template/static/css/index.css
.container {
    width: 1080px;
    margin: 0 auto;
    padding-bottom: 150px;
}


/* 一楼优惠样式 */

.discount {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
}

.title_bar {
    font-size: 24px;
}

.sub_title {
    font-size: 16px;
}


/* 城市样式 */

.city:after {
    /*解决浮动引起的高度坍塌*/
    content: "";
    display: block;
    clear: both;
}

.city_list {
    list-style: none;
    width: 1040px;
}

.city_list div {
    float: left;
    /*浮动*/
    padding: 16px 8px
}

.city_list div:not(:first-child) {
    margin-left: 10px;
}

.city_list div:first-child {
    padding-left: 0;
}

.city_list div span {
    display: block;
    width: 120px;
    height: 48px;
    color: #484848;
    font-size: 17px;
    font-weight: bold;
    border-radius: 3px;
    border: solid 0.5px #d8d8d8;
    text-align: center;
    line-height: 48px;
}


/* 鼠标移入样式 */

.city_list div :hover {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
}


/* 设置弹性 */
.details {
    width: 1080px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
/* 详情描述的样式 */
.describe {
  width: 350px;
  height: 355px;
  padding: 5px;
  margin-top: 10px;
}
/* 设置详情的图片样式 */
.details_img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
/* 描述第一行样式 */
.room_count a {
    color: #484848;
    font-size: 12px;
}
/* 标题样式 */
.title a {
    color: #484848;
    font-weight: 800;
    font-size: 16px;
}
/* 价格样式 */
.price {
    color: #484848;
    font-family: Circular, PingFang-SC, "Hiragino Sans GB", 微软雅黑, "Microsoft YaHei", "Heiti SC";
}
/* 价格的第一个span样式 */
.price span:first-child {
    font-size: 18px;
    font-weight: 600;
}
/* 价格的第二个span样式 */
.price span:nth-child(2) {
  /* 删除线 */
    text-decoration: line-through;
}
.price span:not(:first-child) {
    font-size: 14px;
}
/* 点赞星星样式 */
.praise {
    line-height: normal;
    max-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis
}
.praise span:first-child {
    height: 9px;
    width: 50px;
    display: inline-block;
    background-size: auto 9px;
    background-repeat: no-repeat;
    background-image: url(../../pubulic/image/星星.png)
}
.praise span:not(:first-child) {
    color: #484848;
    margin: 0px;
    word-wrap: break-word;
    font-family: Circular, PingFang-SC, "Hiragino Sans GB", 微软雅黑, "Microsoft YaHei", "Heiti SC";
    font-size: 12px;
    line-height: 1.33333em;
    font-weight: 600;
}
/* 查看更多样式 */
.more {
    font-size: 17px;
    font-weight: 600;
    line-height: 22px;
    color: #008489;
}


.title_desc a {
    font-size: 14px;
    color: #484848;
}
/* 四份布局 */
.desc_img1 {
  width: 246px;
  height: 164px;
  background-repeat: no-repeat;
    border-radius: 3px;
}
.desc1 {
  width: 260px;  
  padding: 8px 5px 12px;
}
/* 新的四份布局 */
.desc {
    width: 260px;
    padding: 4px;
    margin-top: 10px;
  
}
.desc_pic{
    /* 为定位提供参照物 */
    position: relative;
    width: 260px;
}
.desc_img {
  width: 246px;
  height: 246px;
  background-repeat: no-repeat;
    border-radius: 3px;
}
/* 设置点赞小手的大小与位置 */
.desc_png{
  width: 24px;
  height: 24px;
  display: block;
  
}
.good{
     /*解决高度坍塌*/
     content: "";
     display: block;
     clear: both;
     position: absolute;
     top:15px;
     right: 15px;
}
/* 房源按钮 */
.house_btn{
     content: "";
     display: block;
     clear: both;
     position: absolute;
     bottom:15px;
     right: 15px;
}
.sour{
  background-color: rgb(255, 255, 255);
  padding: 2px 8px 4px ;
  border-radius: 4px ;
  font-size: 14px;
  font-weight: 600;
}
/* 评论栏样式 */
.user_pic{
  height: 24px;
  width: 24px;
  display: inline-block;
  border-radius: 50%;
}
.user div{
  display: inline;
}
.user span{
  font-size: 12px;
}
.user span img{
  height: 14px;
  width: 14px;
}
.user span{
  padding: 0 5px;
}
/* 保障样式 */
.protect{
    content: "";
    display: block;
    clear: both;
    width: 100%;
    height: 80px;
}
.pro_lf{
  float: left;
  width: 33.33%;
  display: inline-flex;
  margin:20px 0;
}
/* .pro_png{
  width: 50px;
  display: inline-block;
} */
.pro_png img{
  width: 50px;
  height: 50px;
}
.pro_text{
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: middle;
}
.pro_text span{
  flex-wrap: wrap;  
=======
.container {
    width: 1080px;
    margin: 0 auto;
    padding-bottom: 150px;
}


/* 一楼优惠样式 */

.discount {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
}

.title_bar {
    font-size: 24px;
}

.sub_title {
    font-size: 16px;
}


/* 城市样式 */

.city:after {
    /*解决浮动引起的高度坍塌*/
    content: "";
    display: block;
    clear: both;
}

.city_list {
    list-style: none;
    width: 1040px;
}

.city_list div {
    float: left;
    /*浮动*/
    padding: 16px 8px
}

.city_list div:not(:first-child) {
    margin-left: 10px;
}

.city_list div:first-child {
    padding-left: 0;
}

.city_list div span {
    display: block;
    width: 120px;
    height: 48px;
    color: #484848;
    font-size: 17px;
    font-weight: bold;
    border-radius: 3px;
    border: solid 0.5px #d8d8d8;
    text-align: center;
    line-height: 48px;
}


/* 鼠标移入样式 */

.city_list div :hover {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
}


/* 设置弹性 */
.details {
    width: 1080px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
/* 详情描述的样式 */
.describe {
  width: 350px;
  height: 355px;
  padding: 5px;
  margin-top: 10px;
}
/* 设置详情的图片样式 */
.details_img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
/* 描述第一行样式 */
.room_count a {
    color: #484848;
    font-size: 12px;
}
/* 标题样式 */
.title a {
    color: #484848;
    font-weight: 800;
    font-size: 16px;
}
/* 价格样式 */
.price {
    color: #484848;
    font-family: Circular, PingFang-SC, "Hiragino Sans GB", 微软雅黑, "Microsoft YaHei", "Heiti SC";
}
/* 价格的第一个span样式 */
.price span:first-child {
    font-size: 18px;
    font-weight: 600;
}
/* 价格的第二个span样式 */
.price span:nth-child(2) {
  /* 删除线 */
    text-decoration: line-through;
}
.price span:not(:first-child) {
    font-size: 14px;
}
/* 点赞星星样式 */
.praise {
    line-height: normal;
    max-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis
}
.praise span:first-child {
    height: 9px;
    width: 50px;
    display: inline-block;
    background-size: auto 9px;
    background-repeat: no-repeat;
    background-image: url(../../pubulic/image/星星.png)
}
.praise span:not(:first-child) {
    color: #484848;
    margin: 0px;
    word-wrap: break-word;
    font-family: Circular, PingFang-SC, "Hiragino Sans GB", 微软雅黑, "Microsoft YaHei", "Heiti SC";
    font-size: 12px;
    line-height: 1.33333em;
    font-weight: 600;
}
/* 查看更多样式 */
.more {
    font-size: 17px;
    font-weight: 600;
    line-height: 22px;
    color: #008489;
}


.title_desc a {
    font-size: 14px;
    color: #484848;
}
/* 四份布局 */
.desc_img1 {
  width: 246px;
  height: 164px;
  background-repeat: no-repeat;
    border-radius: 3px;
}
.desc1 {
  width: 260px;  
  padding: 8px 5px 12px;
}
/* 新的四份布局 */
.desc {
    width: 260px;
    padding: 4px;
    margin-top: 10px;
  
}
.desc_pic{
    /* 为定位提供参照物 */
    position: relative;
    width: 260px;
}
.desc_img {
  width: 246px;
  height: 246px;
  background-repeat: no-repeat;
    border-radius: 3px;
}
/* 设置点赞小手的大小与位置 */
.desc_png{
  width: 24px;
  height: 24px;
  display: block;
  
}
.good{
     /*解决高度坍塌*/
     content: "";
     display: block;
     clear: both;
     position: absolute;
     top:15px;
     right: 25px;
}
/* 房源按钮 */
.house_btn{
     content: "";
     display: block;
     clear: both;
     position: absolute;
     bottom:15px;
     right: 15px;
}
.sour{
  background-color: rgb(255, 255, 255);
  padding: 2px 8px 4px ;
  border-radius: 4px ;
  font-size: 14px;
  font-weight: 600;
}
/* 评论栏样式 */
.user_pic{
  height: 24px;
  width: 24px;
  display: inline-block;
  border-radius: 50%;
}
.user div{
  display: inline;
}
.user span{
  font-size: 12px;
}
.user span img{
  height: 14px;
  width: 14px;
}
.user span{
  padding: 0 5px;
}
/* 保障样式 */
.protect{
    content: "";
    display: block;
    clear: both;
    width: 100%;
    height: 80px;
}
.pro_lf{
  float: left;
  width: 33.33%;
  display: inline-flex;
  margin:20px 0;
}
/* .pro_png{
  width: 50px;
  display: inline-block;
} */
.pro_png img{
  width: 50px;
  height: 50px;
}
.pro_text{
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: middle;
}
.pro_text span{
  flex-wrap: wrap;  
>>>>>>> 7c5757d88d313738551a4a91fe24118e5b8e7088:minsu/static/css/index.css
}