*{margin: 0;padding: 0}
/* 头部logo */
.header{
  width: 100%;
  height: 81px;
  line-height: 81px;
  box-sizing: border-box;
  position: relative;
}
.header_left{
  display: flex;
  float: left;
}
.icon_logo{
  width: 32px;
  height: 32px;
  margin: 10px 24px;
}
.icon-logo-img{
  width: 32px
}

.header_search{
  width: 460px;
  height: 48px;
  margin-left: 10px;
  border: 1px solid #484848
}
.icon-search{
  width: 32px;
  position: absolute;
  top: 25px;
  left: 100px;
}
/* 头部右边 */
.header_right ul li{
  float: right;
  list-style: none;
}
.header_right ul li:hover{
  border-bottom:2px solid #484848;
}
.header_right ul li a{
  color:#484848;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}
.header_right ul li:not(:first-child){
  margin-right: 30px
}
/* 中间预览图 */
.pic{
  width: 100%;
  height: 592px;
  display: flex;
}
.pic_left{
  width: 50%;
  height: 592px;
  transition:transform .5s linear;
}
.pic_left img{
  width: 100%;
  height: 100%;
}
.pic_left:hover{
  transform: scale(1.05);
}
.pic_middle{
  width: 25%;
}
.pic_right{
  width: 25%;
}
.pic_middle div{
  height: 50%
}
.pic_middle img{
  width: 100%;
  height: 100%;
  transition:transform .4s linear;
}
.pic_middle img:hover{
  transform: scale(1.05);
}
.pic_right img:hover{
  transform: scale(1.05);
}
.pic_right div{
  height: 50%;
}
.pic_right img{
  width: 100%;
  height: 100%;
  transition:transform .4s linear;
}
.pic_middle div:last-child{
  margin-top: 0px
}
.pic_right div:last-child{
  margin-top: 0px
}
/* 主体内容 */
section{
  width: 1080px;
  margin: 0 auto;
  padding: 0 24px;
  margin-bottom: 100px;
}
#firstDiv{
  width: 100%;
  padding: 0 8px
}
.nav{
  width: 100%;
  height: 50px;
  line-height: 50px
}
.nav span{
  color: #008489;
  font-size: 12px !important;
  font-weight: 600
}
/* 导航条鼠标移入 */
.nav span:hover{
  text-decoration: underline;
  cursor: pointer;
}
/* 详情样式 */
.details{
  width: 50%;
  padding: 16px 0;
  border-top: 1px solid rgba(72,72,72,.2);
  box-sizing: border-box;
}
.sh_subtitle{
  color: #a52903;
  font-size: 14px;
}
.sh_title{
  width: 460px;
  font-weight: 600;
  color: #484848;
}
.room,.bed,.both,.people{
  float: left;
  padding-right: 15px;
}
.explain::after{
  display: block;
  clear: both;
  content: ""
}
.explain span{
  color: #484848;
  font-size: 12px; 
}
.review_land{
  font-size: 12px;
  margin-top: 8px
}
.review_land .review{
  background-color: #eaf7ea;
  color: #296e00;
  border-radius: 1px;
  font-weight: 600;
}
.review_land .land{
  background-color: #f7f3ea;
  color:#8a2400;
  border-radius: 1px;
  font-weight: 600;
}
.review_land .subway,.review_land .cook,.review_land .live,.review_land .washing{
  background-color: #f2f2f2;
  color: rgb(72,72,72);
  font-weight: 600;
  border-radius: 1px;
}
.review_land span:not(:first-child){
  margin-left: 10px
}
/* 房东信息 */
.land_info{
  width: 100%;
  height: 240px;
  border-bottom: 1px solid rgba(72,72,72,.2)
}
.landInfo{
  width: 100%;
  height: 55px;
  position: relative;
  margin:16px;
}
.landInfo_left{
  width: 55px;
}
.landInfo_left img{
  width: 100%
}
.landInfo div{
  float: left;
}
.landInfo::after{
  display: block;
  content: "";
  clear: both;
}
.landInfo_right{
  color: #484848;
  font-size: 14px;
  font-weight: 600;
  position: absolute;
  top:10px;
  left: 85px;
}
.landInfo_right span:nth-child(2){
  color: #008489
}
.house_intr{
  padding: 16px;
  margin-top: 16px;
  margin-bottom: 32px;
}
.house_intr div:first-child{
  color: #484848;
  font-size: 16px;
  margin: 17px 0;
}
.house_intr div:last-child{
  font-size: 16px;
  color: #008489;
  font-weight: 600
}
/* 房屋介绍 */
.room_details{
  margin: 24px 0;
  width: 153px;
  height: 110px;
  border: 1px solid rgba(72,72,72,.2);
  padding: 20px 5px;
  box-sizing: border-box
}
.room_details div{
  margin: 10px 0
}
.room_details p{
  font-size: 14px;
  color: #484848;

  font-size: 14px
}
/* 房屋设施介绍样式 */
.house_facility{
  display: inline-block;
}
.comment_content_user{
  padding: 14px 0;
}
.content_user_top div a img{
  /* 评论头像样式 */
  width: 50px;
  height: 50px;
  border-radius: 50%

}
.content_user_top div{
  display: inline-block;
  /* 头像时间同一行显示 */
}
/* 评论分页 */
.comment_paging ul{
  margin-top: 20px
}
.comment_paging ul>li{
  list-style: none;
  float: left;
  display: inline-block;
  margin-right: 20px;
  text-align: center;
  width: 24px;
  height: 24px;
  line-height: 24px;
  cursor: pointer;
}
.comment_paging ul>li:not(:nth-child(6)){
  border: 1px solid rgba(72,72,72,.2);
  border-radius: 50%;
}
/* 日期选择框 */

.order_date :first-child>h2{
  font-size: 22px;
  color: #484848;
  font-weight: 600
}
#calen{
  margin-top: 10px
}
/* 地理位置 */
.localtion{
  position: relative;
}
.localtion>h2{
  font-size: 20px;
  color: #484848;
  margin:80px 0 20px 0;
  font-weight: 600
}
.local_info span{
  color: #484848;
  font-size: 14px;
}
.local_info p{
  margin:5px 0;
  color: #484848
}
.local_info a{
  color: #008489;
  font-size: 16px;
  font-weight: 600
}
.notice_info>ul:first-child>li{
  float: left;
  margin-right: 50px;

}
.notice{
/* 增加内边距与上面内容对齐 */
padding: 0 8px;
}