*{margin: 0px;padding: 0px;}
/*头部*/
.head{
    width: 1920px;
    height: 80px;
    background: #00848A;
    
}
.headr{
    position: relative;
   width: 1231px;
   height: 80px;
}
div.headr input{
    margin-left: 50px;
    margin-top: 20px;
    font-size: 0.8em;
    background-color: transparent;
    width: 120px;
    height: 30px;
    border-radius: 15px;
    background-color: white;
}
.nav{
    position: absolute;
    width: 576px;
    height: 80px;
    left: 1100px;
    top: 10px;
    bottom: 10px;
}
.nav li{
    float: right;
    list-style: none;
    padding: 10px;
    
}
.nav a {
    text-decoration: none;
    color: white;
}
.nav li:hover{
    border-bottom: 3px solid  white;
}
.carousel img{
    display: flex;
    width: 1920px;
    height: 530px;
}
