/*登录注册页面*/
.register{
    margin: 0 auto;
    width: 400px;
    height: 500px;
    border: 1px solid red;
}
/*登录注册下面的一条线*/
.text{
    border-bottom: 2px solid #00848A;
    height: 50px;
}
/*左边邮箱注册*/
.left{
    position: relative; 
    left: 200px;
    top: 20px;
    color: #00848A;
    
}
/*右边手机号注册*/
.right{
    position: relative;
    left:30px;
    top: 20px;
}
.phone{
    position: relative;
    display: flex;
    top: 20px;
    width: 350px;
    left: 20px;
}   
/*手机号框*/
.phone input{
   margin-left: 10px;
}
/*密码框*/
.password{
    position: relative;
    top: 50px;
    width: 350px;
    margin-left: 50px;
}
.password input{
     margin-left: 10px; 
}
/*立即注册框*/
.now button{
    position: relative;
   top: 150px;
    left: 70px;
    width: 255px;
    height: 40px;
    background: #00848A;
    cursor: pointer;
}
/*自动登录*/
.automatic input{
    position: relative;
    top: 180px;
    left: 65px;
}
.automatic p{
    position: relative;
    top: 152px;
    margin-left: 85px;
    font-size: 5px;
}
.partner p{
    position: relative;
    top: 150px;
    left: 50px;
}
.partner img{
    position: relative;
    top: 150px;
    margin-left: 80px;
    cursor: pointer;
}
.partner img:hover{
    background-color: #00848A;
}
