/*登录注册页面*/
.register{
    position: relative;
    width: 400px;
    height: 500px;
    border: 1px solid red;
}
.registry{
    position: absolute;
    width: 402px;
}
/*登录注册下面的一条线*/
.text{
    border-bottom: 2px solid #00848A;
    height: 50px;
}
/*左边邮箱注册*/
.left{
    position: relative; 
    left: 200px;
    top: 20px;
    color: #00848A;
    cursor: pointer;
    
}
/*右边手机号注册*/
.right{
    position: relative;
    left:30px;
    top: 20px;
    cursor: pointer;
    color: #999;
}
.phone{
    position: relative;
    top: 26px;
    width: 355px;
    height: 35px;
    margin-left: 30px;
}   
/*手机号框*/
.phone input{
   margin-left: 10px;
   width: 220px;
   height: 31px;
}
.phone span{
    font-size: 16px;
    color: #999;
}
/*密码框*/
.password{
    position: relative;
    top: 56px;
    width: 348px;
    height: 35px;
    margin:0 0 0 55px;
}
.password input{
    margin-left: 10px;
    width: 225px;
    height: 31px;
}
.password span{
    font-size: 16px;
    color: #999;
}
/*立即注册框*/
.now{
    position: relative;
   top: 150px;
    left: 70px;
    width: 255px;
    background: #00848A;
    cursor: pointer;
    border-radius: 5px;
}
.now div{
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 15px;
}
/*服务协议和隐私政策*/
.service{
    position: relative;
    top: 168px;
    margin-left: 60px;
}
.service a{
    text-decoration: none;
    color: #999;
    font-size: 5px;
}
.service a:hover{
    border-bottom: 1px solid #999;
    color: #3882e5;
}
/*使用网站账号登录*/
.text_p{
   position: relative;
   top: 180px;
   width: 350px;
   height: 31px;
   margin-left: 60px;
}
.text_p p{
    margin: 0px;
    font-size: 6px;
    color: #00848A;
}
/*图标*/
.pic{
    position: relative;
    top: 184px;
    margin-left: 50px;
}
.pic img{
    margin-left: 30px;
    cursor: pointer;
}
.service_protocol{
    vertical-align: top
}
/*登陆页面*/
.page{
    width: 400px;
    height: 500px;
    border: 1px solid blue;
}
.enter{
    position: relative;
    top: 20px;
   margin-left: 40px;
   border-bottom: 2px solid #00848A;
}
/*账号登陆*/
.enter span{
    font-size: 20px;
    cursor: pointer;
    color: #111;
    
}
/*账号登录框*/
.input_text{
    position: relative;
    top: 60px;
    width: 402px;
    height: 37px;
}
.input_text input{
    width: 280px;
    height: 37px;
    top: 30px;
    margin-left: 40px;  
    background: url(../imgs/denglu.png) no-repeat;
}
/*密码框*/
.cipher{
    position: relative;
    top: 90px;
    margin-left: 38px;
}
.cipher input{
    width: 280px;
    height: 37px; 
    background: url(../imgs/mima.png) no-repeat;
}
/*登录按钮*/
.login{
    position: relative;
    top: 110px;
    width: 280px;
    height: 37px;
    background: #00848A;
    margin-left: 40px;
    border-radius: 5px;
}
.login div{
    width: 280px;
    height: 37px;
    text-align: center;
    cursor: pointer;
    color: white;
    font-size: 15px;
}
/*下次自动登陆*/
.autologin{
    position: relative;
    top: 120px;
}
.autologin input{
    margin-left: 35px;
}
.autologin a{
    text-decoration: none;
    font-size: 13px;
    color: #333;
}
/*第三方登陆*/
.openid{
    position: relative;
    top: 180px;
}
/*左边的线*/
.openid .openid_lg{
    position: relative;
    top: 30px;
    width: 103px;
    height: 2px;
    background: #9b9b9b;
    margin-left: 221px;
   
}
/*中间的字*/
.openid_hg{
   margin-left: 138px;
   margin-top: 5px;
   color: #00848A;
   font-size: 11px;
}
/*右边的线*/
.openid_sg{
    width: 103px;
    height: 2px;
    background: #9b9b9b;
    margin-left: 30px;
}
/*第三方登录图标*/
.imags{
    position: relative;
    top: 210px;
    margin-left: 100px;
}
.imags img{
    margin: 10px;
}