body,h3,h4,ul,li,hr {
    margin: 0;
    padding: 0;
}
body{ 
    font-family: Circular, PingFang-SC, "Hiragino Sans GB", 微软雅黑, "Microsoft YaHei", "Heiti SC" ;
}
a {
    text-decoration: none;
}
.clear{
  content: "";
  display: block;
  clear: both;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
ul{
  list-style:none;
}
