
/*头部*/
.head{
    width: 100%;
    height: 80px;
    background: #00848A;/*背景色*/
    content: "";/*解决高度坍塌*/
    display: block;
    clear: both
}
.header{
   height: 80px;/*定高*/
}
.log{
  width: 140px;/*给logo加宽高*/
  height: 80px;

}
/* logo图片样式 */
.log img{
  height: 40px;
  width: 40px;
  padding: 20px 50px;/*内边距*/
  margin-left: 80px;/*左外边距*/
}
/* 搜索框 */
.search{
  width: 490px;
  height: 40px;
  margin-top:20px;
  margin-left: 190px;
  display: inline-block;
  position: relative;
} 
.search input{
    font-size: 16px;
    width: 100%;
    padding: 12px 0;
    background-color: white;
    border-radius: 5px;
}
.search_icon{
  height: 40px;/*设定搜索图片的大小*/
  width: 40px;
  position: absolute;/*定位搜索图案*/
  top:5px;
  left: 450px;
}
.search_icon img{
  height: 100%;
  width: 100%;
}
/*导航*/
.nav{
  margin-top:10px;/*上外边距*/
  margin-left:150px;/*左外边距*/
}
/*导航选项*/
.nav-itmes{
  display: inline-block;/*行内块*/
  list-style: none;
  margin-top: 25px;/*上外边距*/
  margin-left: 45px;/*左外边距*/
  text-align:center;/*文字居中*/
  position:relative;/*固定定位为绝对定位提供参照物*/
  line-height: 50%;  
} 
.nav a {
  color: #fff;
  font-weight: 600;/*字体加粗*/
  text-decoration: none;
}

hr{
  border:1px solid rgb(239,239,239);
}

.header>ul>li:hover{
  /* height: 100px; */
  cursor:pointer;/*移入小手指*/
}

.header>ul>li>ul{
  display: block;
  content: "";/*清楚高度坍塌*/
  clear:both;
  background-color:#fff;
  width:200px;
  border:1px solid rgb(239,239,239); 
  border-top:0;
  position:absolute;/*定位*/
  margin-top:5px;
  right: -25px;
}
.header>ul>li>ul>:first-child{
  height: 30px;
  bottom: 0px;
  line-height: 30px;
  background-color: #e8e8e8;
}
.header>ul>li>ul>li{
  display:block;/*块级*/
  text-align:left;/*文字靠左*/
  width:100%;
  height:20px;
}


.header>ul>li:first-child>ul{
  /* 如果只做单纯的显示，就这个：display:none; */
  top:40px;
  width:0px;
   height:0px;
  overflow:hidden;
  opacity:0;  
   transition:all .5s linear;
}
.header>ul>li:first-child:hover>ul{
  /* 如果只做单纯的显示，就这个：display:block; */
  top:40px;
  width:200px;
  height:230px;
  font-weight: 600;
  opacity:1;
}
.nav-icon {
  width: 660px;
  height: 230px;
  position: absolute;
  z-index: -1;
  right: -115px;
  top:45px;
  background-color:#fff;
}
.nav-icon div{
  display: inline-block;
}
.nav-icon div img{
  width: 160px;
  height: 160px;
  padding: 16px;
}
.nav-icon div div{
  display: block;
  text-align: center;
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-weight: 600;
}

.nav-itmes:nth-child(2)>.nav-icon{
  /* 如果只做单纯的显示，就这个：display:none;  */
  top:40px;
  width: 0px;
  height: 0px; 
  overflow:hidden;  
  opacity:0;
  transition:all .7s linear;  
  }
 .nav-itmes:nth-child(2):hover .nav-icon{ 
   /* 如果只做单纯的显示，就这个：display:block;  */
   top:40px;   
   width: 660px;
   height: 230px;
   opacity:1; 
 }    
