.container {
    width: 1080px;
    margin: 0 auto;
}


/* 一楼优惠样式 */

.discount {
    width: 100%;
    margin-top: 40px;
}

.title_bar {
    font-size: 24px;
}

.sub_title {
    font-size: 16px;
}


/* 城市样式 */

#city:after {
    /*解决浮动引起的高度坍塌*/
    content: "";
    display: block;
    clear: both;
}

.city {
    list-style: none;
    width: 1040px;
}

.city div {
    float: left;
    /*浮动*/
    padding: 16px 8px
}

.city div:not(:first-child) {
    margin-left: 10px;
}

.city div:first-child {
    padding-left: 0;
}

.city div span {
    display: block;
    width: 120px;
    height: 48px;
    color: #484848;
    font-size: 17px;
    font-weight: bold;
    border-radius: 3px;
    border: solid 0.5px #d8d8d8;
    text-align: center;
    line-height: 48px;
}


/* 鼠标移入样式 */

.city div :hover {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
}


/* 详情样式 */

.details {
    display: flex;
    flex-wrap: wrap-reverse;
}

.describe {
    width: 350px;
    height: 355px;
    padding: 5px;
    margin-top: 10px;
}

.details_img {
    width: 100%;
    background-repeat: no-repeat;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.room_count a {
    color: #484848;
    font-size: 12px;
}

.title a {
    color: #484848;
    font-weight: 800;
    font-size: 16px;
}

.price {
    color: #484848;
    font-family: Circular, PingFang-SC, "Hiragino Sans GB", 微软雅黑, "Microsoft YaHei", "Heiti SC";
}

.price span:first-child {
    font-size: 18px;
    font-weight: 600;
}

.price span:nth-child(2) {
    text-decoration: line-through;
}

.price span:not(:first-child) {
    font-size: 14px;
}

.praise {
    line-height: normal;
    max-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis
}

.praise span:first-child {
    height: 9px;
    width: 50px;
    display: inline-block;
    background-size: auto 9px;
    background-repeat: no-repeat;
    background-image: url(../../pubulic/image/星星.png)
}

.praise span:not(:first-child) {
    color: #484848;
    margin: 0px;
    word-wrap: break-word;
    font-family: Circular, PingFang-SC, "Hiragino Sans GB", 微软雅黑, "Microsoft YaHei", "Heiti SC";
    font-size: 12px;
    line-height: 1.33333em;
    font-weight: 600;
}

.more {
    font-size: 17px;
    font-weight: 600;
    line-height: 22px;
    color: #008489;
}


/* 二楼 */

.title_desc a {
    font-size: 14px;
    color: #484848;
}

.desc {
    width: 262px;
    height: 325px;
    padding: 5px;
    margin-top: 10px;
}

.desc_img {
    width: 100%;
    background-repeat: no-repeat;
    border-radius: 3px;
}