<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../css/banner1.css">
</head>
<body>
    <div id="slideshow">
      <!-- 左边按钮 -->
      <div id="btn-left"></div>
        <!-- 插入轮播的图片们 -->
        <img class="active" src="../img/banner1.jpg" />
        <img src="../img/banner2.jpg" />
        <img src="../img/banner3.jpg" />
        <img src="../img/banner4.jpg" alt="">
        <!-- 插入轮播的页码们 -->
        <div>
          <span class="active">1</span>
          <span>2</span>
          <span>3</span>
          <span>4</span>
        </div>

        <!-- 右边按钮 -->
        
      </div>
      <div id="btn-right"></div>
</body>
<script src="../js/banner1.js"></script>
</html>