<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/footer.css">
</head>
<body>
<footer>
    <!--尾部-->
    <container >
      <div class="foot">
            <div class="contact">
              <div>爱民宿</div>
                <ul>
                    <li href="javascript:;"><a>工作机会</a></li>
                    <li href="javascript:;"><a>爱民宿新闻</a></li>
                    <li href="javascript:;"><a>政策</a></li>
                    <li href="javascript:;"><a>帮助</a></li>
                    <li href="javascript:;"><a>多元化与归属感</a></li>
                    <li href="javascript:;">
                      <a>无障碍设施</a> <span class="new">新推出</span>
                    </li>

                </ul>
            </div>
            <div class="contact">
              <div>发现</div>
                <ul>
                    <li href="javascript:;"><a>信任与安全</a></li>
                    <li href="javascript:;"><a>旅行基金</a></li>
                    <li href="javascript:;"><a>爱民宿公民</a></li>
                    <li href="javascript:;"><a>商务差旅</a></li>
                    <li href="javascript:;"><a>旅游指南</a></li>
                    <li href="javascript:;"><a>爱民宿杂志</a></li>
                </ul>
            </div>
            <div class="contact">
                <div>出租</div>
                <ul>
                    <li href="javascript:;"><a>为什么要出租</a></li>
                    <li href="javascript:;"><a>待客之道</a></li>
                    <li href="javascript:;"><a>房东义务</a></li>
                    <li href="javascript:;">
                      <a>开展体验</a> <span class="new">新推出</span>
                    </li>
                    <li href="javascript:;"><a>OpenHomes</a></li>
                </ul>
            </div>
            <div class="contact">
               <ul>
                 <img src="../pubulic/footer/weixin.png" alt="">
                 <img src="../pubulic/footer/sina.png" alt="">
                   <li href="javascript:;"><a>条款</a></li>
                   <li href="javascript:;"><a>政策隐私</a></li>
                   <li href="javascript:;"><a>网站地图</a></li>
               </ul>
            </div>
      </div>
            <div class="foot_bottom">
                <div class="">
                    <!--京公安网备图片-->
                    <img class="img_lg" src="../pubulic/footer/guohui.png" alt="">
                    <a class="left">京lcp备16017121号-3京lcp证160773号</a>        
                    <p class="p_text">京公网安备11010502032345号安彼迎网络(北京)有限公司</p>
                    <p>2019 Airbnb,lnc All rights reserved</p>
                </div>
            </div>
        
  </container>
</footer>
</body>
</html>