<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <title>民宿旅游网</title>
</head>
<body>
    <!--头部-->
    <div class="head">
        <div class="header clear">
          <!--logo部分-->
            <div class="log fl">
                <img src="public/header/logo.png" alt="">
            </div>
            <!--搜索框-->
            <div class="search fl">   
                <input type="text" placeholder="搜旧金山试试">            <!--搜索图标-->   
                <span class="search_icon ">
                    <img src="public/header/search.png" alt="">
                </span>
              </div>
              <!-- 右侧导航 -->
            <ul class="nav fl">
                <li class="nav-itmes">
                    <a href="javascript:;">人民币-¥</a>
                    <!--导航下的隐藏模块-->
                    <ul class="currency">
                      <li>常用币种</li>
                      <li><hr></li>
                      <li>人民币</li>
                      <li><hr></li>
                      <li>美元</li>
                      <li><hr></li>
                      <li>欧元</li>
                      <li><hr></li>
                      <li>日元</li>
                      <li><hr></li>
                      <li>港币</li>
                    </ul>
                </li>
                <li class="nav-itmes">
                  <a href="javascript:;">手机端</a>
                  <div class="nav-icon">
                    <div>
                      <img src="public/header/app.png" alt="">
                      <div>下载客户端</div>
                    </div>
                    <div>
                      <img src="public/header/ser.png" alt="">
                      <div>关注公众号</div>
                    </div>
                    <div>
                      <img src="public/header/samllrout.jpg" alt="">
                      <div>扫一扫，打开微信小程序</div>
                    </div>
                  </div>
                </li>
                <li class="nav-itmes"><a href="javascript:;">出租房源</a></li>
                <li class="nav-itmes"><a href="jingan.html">开展体验</a></li>
                <li class="nav-itmes"><a href="javascript:;">故事</a></li>
                <li class="nav-itmes"><a href="javascript:;">帮助</a></li>
                <li class="nav-itmes"><a href="javascript:;">注册</a></li>
                <li class="nav-itmes"><a href="javascript:;">登录</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
