<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="              ">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>
    <div class="container">
        <div class="discount">
            <div>
                <h3 class="title_bar">夏日特惠房</h3>
                <h4 class="sub_title">低至7折，可叠加使用礼券</h4>
            </div>
            <div>
                <ul class="city">
                    <li><span>西安</span></li>
                    <li><span>广州</span></li>
                    <li><span>深圳</span></li>
                    <li><span>上海</span></li>
                    <li><span>北京</span></li>
                    <li><span>南京</span></li>
                </ul>
            </div>
            <div>
                <div class="details">

                    <img class="details_img" src="../pubulic/image/1.jpg" alt="">

                </div>
            </div>
        </div>
    </div>
</body>

</html>