<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="              ">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>
    <div class="container">
        <!-- 优惠 -->
        <div class="discount">
            <div>
                <h3 class="title_bar">夏日特惠房</h3>
                <h4 class="sub_title">低至7折，可叠加使用礼券</h4>
            </div>
            <div id="city">
                <!-- 城市列表 -->
                <div class="city">
                    <div><span>西安</span></div>
                    <div><span>广州</span></div>
                    <div><span>深圳</span></div>
                    <div><span>上海</span></div>
                    <div><span>北京</span></div>
                    <div><span>南京</span></div>
                    <div><span>长沙</span></div>
                </div>
            </div>
        </div>
        <div>
            <div class="details">
                <!-- 详情 -->
                <div class="describe">
                    <!-- 描述 -->
                    <div>
                        <img class="details_img" src="../pubulic/image/1.jpg" alt="">
                    </div>
                    <div>
                        <a class="room_count" href="javascript:;"><span>酒店房间·1张床</span></a>
                    </div>
                    <!-- 标题 -->
                    <div class="title">
                        <a href="javascript:;"><span>共享居住空间「胡同里的设计酒店Studio」步行可达故宫&王府井，适合差旅、年轻旅行者</span></a>
                    </div>
                    <!-- 价格 -->
                    <div class="price">
                        <span>￥799</span><span>￥940</span><span>每晚</span>
                    </div>
                    <!-- 点赞 -->
                    <div class="praise">
                        <span></span>
                        <span>209</span>
                        <span>·</span>
                        <span>超赞房东</span>
                    </div>
                </div>


            </div>
            <!-- 查看更多 -->
            <div><a class="more" href="javascript:;">查看更多数据>></a></div>
        </div>
    </div>

</body>

</html>