<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="              ">
    <title>Document</title>
    <link rel="stylesheet" href="static/css/base.css">
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="stylesheet" href="static/css/banner.css">
	<script src="static/js/jquery-1.11.3.js"></script>
	<script src="static/js/index_ajax.js"></script>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/banner.css">
    <script src="../static/js/jquery-1.11.3.js"></script>
    <script src="../static/js/header.js"></script>
    <script src="../static/js/banner.js"></script>
    <script src="../static/js/footer.js"></script>

</head>

<body>
   <!--放一个id为header的div,把header.html加载到这块-->
<div id="header"></div>
<div id="test" class="plat">
  <!-- ul包裹着图片 -->
    <ul class="banner_img">
<!--  <li><img src="pubulic/banner/banner1.jpg"></li> -->
<!--  <li><img src="pubulic/banner/banner2.jpg"></li> -->
<!--  <li><img src="pubulic/banner/banner3.jpg"></li> -->
<!--  <li><img src="pubulic/banner/banner4.jpg"></li> -->
    </ul>
<!-- 下标圆点 -->
    <div class="dot" id="dot">
        <div class="num0 num" id="num0"></div>
        <div class="num1 num" id="num1"></div>
        <div class="num2 num" id="num2"></div>
        <div class="num3 num" id="num3"></div>
    </div>

    <div class="btn"  id="right"><span><</span></div>
    <div class="btn1" id="left"><span>></span></div>
 </div>
    <div class="container">
        <!-- 一楼 -->
        <!-- 导航栏 -->
        <div class="discount">
            <!-- 优惠 -->
            <div>
                <h3 class="title_bar">夏日特惠房</h3>
                <h4 class="sub_title">低至7折，可叠加使用礼券</h4>
            </div>
            <div class="city">
                <!-- 城市列表 -->
                <div class="city_list">
                  <div><span>深圳</span></div>
                  <div><span>广州</span></div>
                  <div><span>西安</span></div>
                    <div><span>上海</span></div>
                    <div><span>北京</span></div>
                    <div><span>南京</span></div>
                    <div><span>长沙</span></div>
                </div>
            </div>
        </div>
        <div>
            <div class="details">
                <!-- 详情 -->
                <div class="describe">
                    <!-- 描述 -->
                    <div>
                        <img class="details_img" src="pubulic/image/1.jpg" alt="">
                    </div>
                    <div class="room_count">
                        <a href="javascript:;"><span>酒店房间·1张床</span></a>
                    </div>
                    <!-- 标题 -->
                    <div class="title">
                        <a href="javascript:;"><span>共享居住空间「胡同里的设计酒店Studio」步行可达故宫&王府井，适合差旅、年轻旅行者</span></a>
                    </div>
                    <!-- 价格 -->
                    <div class="price">
                        <span>￥799</span><span>￥940</span><span>每晚</span>
                    </div>
                    <!-- 点赞 -->
                    <div class="praise">
                        <span></span>
                        <span>209</span>
                        <span>·</span>
                        <span>超赞房东</span>
                    </div>
                </div>
                <div class="describe">
                    <!-- 描述 -->
                    <div>
                        <img class="details_img" src="pubulic/image/3.jpg" alt="">
                    </div>
                    <div class="room_count">
                        <a href="javascript:;"><span>酒店房间·1张床</span></a>
                    </div>
                    <!-- 标题 -->
                    <div class="title">
                        <a href="javascript:;"><span>共享居住空间「胡同里的设计酒店Studio」步行可达故宫&王府井，适合差旅、年轻旅行者</span></a>
                    </div>
                    <!-- 价格 -->
                    <div class="price">
                        <span>￥799</span><span>￥940</span><span>每晚</span>
                    </div>
                    <!-- 点赞 -->
                    <div class="praise">
                        <span></span>
                        <span>209</span>
                        <span>·</span>
                        <span>超赞房东</span>
                    </div>
                </div>
                <div class="describe">
                    <!-- 描述 -->
                    <div>
                        <img class="details_img" src="pubulic/image/4.jpg" alt="">
                    </div>
                    <div class="room_count">
                        <a href="javascript:;"><span>酒店房间·1张床</span></a>
                    </div>
                    <!-- 标题 -->
                    <div class="title">
                        <a href="javascript:;"><span>共享居住空间「胡同里的设计酒店Studio」步行可达故宫&王府井，适合差旅、年轻旅行者</span></a>
                    </div>
                    <!-- 价格 -->
                    <div class="price">
                        <span>￥799</span><span>￥940</span><span>每晚</span>
                    </div>
                    <!-- 点赞 -->
                    <div class="praise">
                        <span></span>
                        <span>209</span>
                        <span>·</span>
                        <span>超赞房东</span>
                    </div>
                </div>
                <div class="describe">
                    <!-- 描述 -->
                    <div>
                        <img class="details_img" src="pubulic/image/11.jpg" alt="">
                    </div>
                    <div class="room_count">
                        <a href="javascript:;"><span>酒店房间·1张床</span></a>
                    </div>
                    <!-- 标题 -->
                    <div class="title">
                        <a href="javascript:;"><span>共享居住空间「胡同里的设计酒店Studio」步行可达故宫&王府井，适合差旅、年轻旅行者</span></a>
                    </div>
                    <!-- 价格 -->
                    <div class="price">
                        <span>￥799</span><span>￥940</span><span>每晚</span>
                    </div>
                    <!-- 点赞 -->
                    <div class="praise">
                        <span></span>
                        <span>209</span>
                        <span>·</span>
                        <span>超赞房东</span>
                    </div>
                </div>
                <div class="describe">
                    <!-- 描述 -->
                    <div>
                        <img class="details_img" src="pubulic/image/15.jpg" alt="">
                    </div>
                    <div class="room_count">
                        <a href="javascript:;"><span>酒店房间·1张床</span></a>
                    </div>
                    <!-- 标题 -->
                    <div class="title">
                        <a href="javascript:;"><span>共享居住空间「胡同里的设计酒店Studio」步行可达故宫&王府井，适合差旅、年轻旅行者</span></a>
                    </div>
                    <!-- 价格 -->
                    <div class="price">
                        <span>￥799</span><span>￥940</span><span>每晚</span>
                    </div>
                    <!-- 点赞 -->
                    <div class="praise">
                        <span></span>
                        <span>209</span>
                        <span>·</span>
                        <span>超赞房东</span>
                    </div>
                </div>
                <div class="describe">
                    <!-- 描述 -->
                    <div>
                        <img class="details_img" src="pubulic/image/12.jpg" alt="">
                    </div>
                    <div class="room_count">
                        <a href="javascript:;"><span>酒店房间·1张床</span></a>
                    </div>
                    <!-- 标题 -->
                    <div class="title">
                        <a href="javascript:;"><span>共享居住空间「胡同里的设计酒店Studio」步行可达故宫&王府井，适合差旅、年轻旅行者</span></a>
                    </div>
                    <!-- 价格 -->
                    <div class="price">
                        <span>￥799</span><span>￥940</span><span>每晚</span>
                    </div>
                    <!-- 点赞 -->
                    <div class="praise">
                        <span></span>
                        <span>209</span>
                        <span>·</span>
                        <span>超赞房东</span>
                    </div>
                </div>



            </div>
            <!-- 查看更多 -->
            <div>
                <a class="more" href="javascript:;">查看更多数据&gt;</a>
            </div>
        </div>
        <!-- 二楼 -->
        <div class="discount">
            <div>
                <h3 class="title_bar">夏日出行精选</h3>
            </div>
        </div>
        <div>
            <div class="details">
                <!-- 详情 -->
                <div class="describe">
                    <!-- 描述 -->
                    <div>
                        <img class="details_img" src="pubulic/image/summer1.jpg" alt="">
                    </div>
                    <div class="room_count">
                        <a href="javascript:;"><span>国外目的地房源推荐</span></a>
                    </div>
                    <!-- 标题 -->
                    <div class="title">
                        <a href="javascript:;"><span>驰骋，在美国一号释放自我</span></a>
                    </div>
                    <div class="title_desc">
                        <a href="javascript:;">在海和峭壁之间，沿途有风景、有远方。</a>
                    </div>
                </div>
                <div class="describe">
                    <!-- 描述 -->
                    <div>
                        <img class="details_img" src="pubulic/image/summer2.jpg" alt="">
                    </div>
                    <div class="room_count">
                        <a href="javascript:;"><span>国外目的地房源推荐</span></a>
                    </div>
                    <!-- 标题 -->
                    <div class="title">
                        <a href="javascript:;"><span>驰骋，在美国一号释放自我</span></a>
                    </div>
                    <div class="title_desc">
                        <a href="javascript:;">在海和峭壁之间，沿途有风景、有远方。</a>
                    </div>
                </div>
                <div class="describe">
                    <!-- 描述 -->
                    <div>
                        <img class="details_img" src="pubulic/image/summer3.jpg" alt="">
                    </div>
                    <div class="room_count">
                        <a href="javascript:;"><span>国外目的地房源推荐</span></a>
                    </div>
                    <!-- 标题 -->
                    <div class="title">
                        <a href="javascript:;"><span>驰骋，在美国一号释放自我</span></a>
                    </div>
                    <div class="title_desc">
                        <a href="javascript:;">在海和峭壁之间，沿途有风景、有远方。</a>
                    </div>
                </div>
            </div>
            <!-- 查看更多 -->
            <div>
                <a class="more" href="javascript:;">查看更多数据&gt;</a>
            </div>
        </div>
        <!-- 三楼 -->
        <!-- 导航栏 -->
        <div class="discount">
            <!-- 优惠 -->
            <div>
                <h3 class="title_bar">探索北京的精彩之地</h3>
            </div>
            <div class="city">
                <!-- 城市列表 -->
                <div class="city_list">
                    <div><span>鸟巢</span></div>
                    <div><span>北京欢乐谷</span></div>
                    <div><span>北京大学</span></div>
                    <div><span>中国科技馆</span></div>
                    <div><span>天安门广场</span></div>
                    <div><span>后海</span></div>
                    <div><span>通州商务园</span></div>
                </div>
            </div>
        </div>
        <div>
            <div class="details">
                <!-- 详情 -->
                <div class="describe">
                    <!-- 描述 -->
                    <div>
                        <img class="details_img" src="pubulic/image/4.jpg" alt="">
                    </div>
                    <div class="room_count">
                        <a href="javascript:;"><span>酒店房间·1张床</span></a>
                    </div>
                    <!-- 标题 -->
                    <div class="title">
                        <a href="javascript:;"><span>共享居住空间「胡同里的设计酒店Studio」步行可达故宫&王府井，适合差旅、年轻旅行者</span></a>
                    </div>
                    <!-- 价格 -->
                    <div class="price">
                        <span>￥799</span><span>￥940</span><span>每晚</span>
                    </div>
                    <!-- 点赞 -->
                    <div class="praise">
                        <span></span>
                        <span>209</span>
                        <span>·</span>
                        <span>超赞房东</span>
                    </div>
                </div>
                <div class="describe">
                    <!-- 描述 -->
                    <div>
                        <img class="details_img" src="pubulic/image/2.jpg" alt="">
                    </div>
                    <div class="room_count">
                        <a href="javascript:;"><span>酒店房间·1张床</span></a>
                    </div>
                    <!-- 标题 -->
                    <div class="title">
                        <a href="javascript:;"><span>共享居住空间「胡同里的设计酒店Studio」步行可达故宫&王府井，适合差旅、年轻旅行者</span></a>
                    </div>
                    <!-- 价格 -->
                    <div class="price">
                        <span>￥799</span><span>￥940</span><span>每晚</span>
                    </div>
                    <!-- 点赞 -->
                    <div class="praise">
                        <span></span>
                        <span>209</span>
                        <span>·</span>
                        <span>超赞房东</span>
                    </div>
                </div>
                <div class="describe">
                    <!-- 描述 -->
                    <div>
                        <img class="details_img" src="pubulic/image/6.jpg" alt="">
                    </div>
                    <div class="room_count">
                        <a href="javascript:;"><span>酒店房间·1张床</span></a>
                    </div>
                    <!-- 标题 -->
                    <div class="title">
                        <a href="javascript:;"><span>共享居住空间「胡同里的设计酒店Studio」步行可达故宫&王府井，适合差旅、年轻旅行者</span></a>
                    </div>
                    <!-- 价格 -->
                    <div class="price">
                        <span>￥799</span><span>￥940</span><span>每晚</span>
                    </div>
                    <!-- 点赞 -->
                    <div class="praise">
                        <span></span>
                        <span>209</span>
                        <span>·</span>
                        <span>超赞房东</span>
                    </div>
                </div>
                <div class="describe">
                    <!-- 描述 -->
                    <div>
                        <img class="details_img" src="pubulic/image/4.jpg" alt="">
                    </div>
                    <div class="room_count">
                        <a href="javascript:;"><span>酒店房间·1张床</span></a>
                    </div>
                    <!-- 标题 -->
                    <div class="title">
                        <a href="javascript:;"><span>共享居住空间「胡同里的设计酒店Studio」步行可达故宫&王府井，适合差旅、年轻旅行者</span></a>
                    </div>
                    <!-- 价格 -->
                    <div class="price">
                        <span>￥799</span><span>￥940</span><span>每晚</span>
                    </div>
                    <!-- 点赞 -->
                    <div class="praise">
                        <span></span>
                        <span>209</span>
                        <span>·</span>
                        <span>超赞房东</span>
                    </div>
                </div>
                <div class="describe">
                    <!-- 描述 -->
                    <div>
                        <img class="details_img" src="pubulic/image/9.jpg" alt="">
                    </div>
                    <div class="room_count">
                        <a href="javascript:;"><span>酒店房间·1张床</span></a>
                    </div>
                    <!-- 标题 -->
                    <div class="title">
                        <a href="javascript:;"><span>共享居住空间「胡同里的设计酒店Studio」步行可达故宫&王府井，适合差旅、年轻旅行者</span></a>
                    </div>
                    <!-- 价格 -->
                    <div class="price">
                        <span>￥799</span><span>￥940</span><span>每晚</span>
                    </div>
                    <!-- 点赞 -->
                    <div class="praise">
                        <span></span>
                        <span>209</span>
                        <span>·</span>
                        <span>超赞房东</span>
                    </div>
                </div>
                <div class="describe">
                  <!-- 描述 -->
                  <div>
                      <img class="details_img" src="pubulic/image/3.jpg" alt="">
                  </div>
                  <div class="room_count">
                      <a href="javascript:;"><span>酒店房间·1张床</span></a>
                  </div>
                  <!-- 标题 -->
                  <div class="title">
                      <a href="javascript:;"><span>共享居住空间「胡同里的设计酒店Studio」步行可达故宫&王府井，适合差旅、年轻旅行者</span></a>
                  </div>
                  <!-- 价格 -->
                  <div class="price">
                      <span>￥799</span><span>￥940</span><span>每晚</span>
                  </div>
                  <!-- 点赞 -->
                  <div class="praise">
                      <span></span>
                      <span>209</span>
                      <span>·</span>
                      <span>超赞房东</span>
                  </div>
                </div>
            </div>   
            <!-- 查看更多 -->
            <div>
                <a class="more" href="javascript:;">查看更多数据&gt;</a>
            </div>
        </div>

        <!-- 四楼 -->
        <div class="discount">
            <!-- 优惠 -->
            <div>
                <h3 class="title_bar">夏日特惠房</h3>           
            </div>
        </div>
        <div>
            <div class="details">
                <!-- 详情 -->
                <div class="desc1">
                    <!-- 描述 -->
                    <div>
                        <img class="desc_img1" src="pubulic/image/11.jpg" alt="">
                    </div>
                    <div class="room_count">
                        <a href="javascript:;"><span>酒店房间·1张床</span></a>
                    </div>
                    <!-- 标题 -->
                    <div class="title">
                        <a href="javascript:;"><span>共享居住空间,适合差旅、年轻旅行者</span></a>
                    </div>
                    <!-- 价格 -->
                    <div class="price">
                        <span>￥799</span>
                        <span></span>
                        <span>每晚</span>
                    </div>
                    <!-- 好评 -->
                    <div class="praise">
                        <span></span>
                        <span>209</span>
                        <span>·</span>
                        <span>超赞房东</span>
                    </div>
                </div>
                <div class="desc1">
                  <!-- 描述 -->
                  <div>
                      <img class="desc_img1" src="pubulic/image/12.jpg" alt="">
                  </div>
                  <div class="room_count">
                      <a href="javascript:;"><span>酒店房间·1张床</span></a>
                  </div>
                  <!-- 标题 -->
                  <div class="title">
                      <a href="javascript:;"><span>共享居住空间,适合差旅、年轻旅行者</span></a>
                  </div>
                  <!-- 价格 -->
                  <div class="price">
                      <span>￥799</span>
                      <span></span>
                      <span>每晚</span>
                  </div>
                  <!-- 好评 -->
                  <div class="praise">
                      <span></span>
                      <span>209</span>
                      <span>·</span>
                      <span>超赞房东</span>
                  </div>
                </div>
                <div class="desc1">
                <!-- 描述 -->
                <div>
                    <img class="desc_img1" src="pubulic/image/13.jpg" alt="">
                </div>
                <div class="room_count">
                    <a href="javascript:;"><span>酒店房间·1张床</span></a>
                </div>
                <!-- 标题 -->
                <div class="title">
                    <a href="javascript:;"><span>共享居住空间,适合差旅、年轻旅行者</span></a>
                </div>
                <!-- 价格 -->
                <div class="price">
                    <span>￥799</span>
                    <span></span>
                    <span>每晚</span>
                </div>
                <!-- 好评 -->
                <div class="praise">
                    <span></span>
                    <span>209</span>
                    <span>·</span>
                    <span>超赞房东</span>
                </div>
                </div>
                <div class="desc1">
              <!-- 描述 -->
              <div>
                  <img class="desc_img1" src="pubulic/image/14.jpg" alt="">
              </div>
              <div class="room_count">
                  <a href="javascript:;"><span>酒店房间·1张床</span></a>
              </div>
              <!-- 标题 -->
              <div class="title">
                  <a href="javascript:;"><span>共享居住空间,适合差旅、年轻旅行者</span></a>
              </div>
              <!-- 价格 -->
              <div class="price">
                  <span>￥799</span>
                  <span></span>
                  <span>每晚</span>
              </div>
              <!-- 好评 -->
              <div class="praise">
                  <span></span>
                  <span>209</span>
                  <span>·</span>
                  <span>超赞房东</span>
              </div>
                </div>
                <div class="desc1">
                  <!-- 描述 -->
                  <div>
                      <img class="desc_img1" src="pubulic/image/17.jpg" alt="">
                  </div>
                  <div class="room_count">
                      <a href="javascript:;"><span>酒店房间·1张床</span></a>
                  </div>
                  <!-- 标题 -->
                  <div class="title">
                      <a href="javascript:;"><span>共享居住空间,适合差旅、年轻旅行者</span></a>
                  </div>
                  <!-- 价格 -->
                  <div class="price">
                      <span>￥799</span>
                      <span></span>
                      <span>每晚</span>
                  </div>
                  <!-- 好评 -->
                  <div class="praise">
                      <span></span>
                      <span>209</span>
                      <span>·</span>
                      <span>超赞房东</span>
                  </div>
                </div>
                <div class="desc1">
                  <!-- 描述 -->
                  <div>
                      <img class="desc_img1" src="pubulic/image/8.jpg" alt="">
                  </div>
                  <div class="room_count">
                      <a href="javascript:;"><span>酒店房间·1张床</span></a>
                  </div>
                  <!-- 标题 -->
                  <div class="title">
                      <a href="javascript:;"><span>共享居住空间,适合差旅、年轻旅行者</span></a>
                  </div>
                  <!-- 价格 -->
                  <div class="price">
                      <span>￥799</span>
                      <span></span>
                      <span>每晚</span>
                  </div>
                  <!-- 好评 -->
                  <div class="praise">
                      <span></span>
                      <span>209</span>
                      <span>·</span>
                      <span>超赞房东</span>
                  </div>
                </div>
                <div class="desc1">
                <!-- 描述 -->
                <div>
                    <img class="desc_img1" src="pubulic/image/6.jpg" alt="">
                </div>
                <div class="room_count">
                    <a href="javascript:;"><span>酒店房间·1张床</span></a>
                </div>
                <!-- 标题 -->
                <div class="title">
                    <a href="javascript:;"><span>共享居住空间,适合差旅、年轻旅行者</span></a>
                </div>
                <!-- 价格 -->
                <div class="price">
                    <span>￥799</span>
                    <span></span>
                    <span>每晚</span>
                </div>
                <!-- 好评 -->
                <div class="praise">
                    <span></span>
                    <span>209</span>
                    <span>·</span>
                    <span>超赞房东</span>
                </div>
                </div>
                <div class="desc1">
                  <!-- 描述 -->
                  <div>
                      <img class="desc_img1" src="pubulic/image/5.jpg" alt="">
                  </div>
                  <div class="room_count">
                      <a href="javascript:;"><span>酒店房间·1张床</span></a>
                  </div>
                  <!-- 标题 -->
                  <div class="title">
                      <a href="javascript:;"><span>共享居住空间,适合差旅、年轻旅行者</span></a>
                  </div>
                  <!-- 价格 -->
                  <div class="price">
                      <span>￥799</span>
                      <span></span>
                      <span>每晚</span>
                  </div>
                  <!-- 好评 -->
                  <div class="praise">
                      <span></span>
                      <span>209</span>
                      <span>·</span>
                      <span>超赞房东</span>
                  </div>
                            </div>
            </div>
            <div>
            <a class="more" href="javascript:;">显示更多（2000+）&gt;</a>
            </div>
        </div>
        <!-- 五楼 -->
        <div class="discount">
            <div>
                <h3 class="title_bar">精彩旅行故事</h3>
            </div>
        </div>
        <div>
          <div class="details">
                <!-- 详情 -->
                <div class="desc">
                    <!-- 描述 -->
                    <div class="desc_pic">
                        <img class="desc_img" src="pubulic/image/7.jpg" alt="">
                        <div class="good">
                          <!-- 点赞小手 -->
                          <img class="desc_png" src="pubulic/image/zan.png" >
                        </div>
                        <div class="house_btn">
                          <span class="sour">房源</span>
                        </div>
                    </div>
                    <!-- 标题 -->
                    <div class="title">
                        <a href="javascript:;"><span>驰骋</span></a>
                    </div>
                    <div class="title_desc">
                        <a href="javascript:;">在海和峭壁之间，沿途有风景、有远方。</a>
                    </div>
                    <div class="comments">
                      <div class="user">
                        <div>
                          <img class="user_pic" src="pubulic/image/user.jpg" alt="">
                        </div>
                        <span>
                          <img src="pubulic/image/zan.png" alt="">125
                        </span>
                        <span>
                            <img src="pubulic/image/comment.png" alt="">33
                          </span>
                      </div>
                    </div>
                </div>
                <div class="desc">
                    <!-- 描述 -->
                    <div class="desc_pic">
                        <img class="desc_img" src="pubulic/image/8.jpg" alt="">
                        <div class="good">
                          <!-- 点赞小手 -->
                          <img class="desc_png" src="pubulic/image/zan.png" >
                        </div>
                        <div class="house_btn">
                          <span class="sour">房源</span>
                        </div>
                    </div>
                    <!-- 标题 -->
                    <div class="title">
                        <a href="javascript:;"><span>驰骋</span></a>
                    </div>
                    <div class="title_desc">
                        <a href="javascript:;">在海和峭壁之间，沿途有风景、有远方。</a>
                    </div>
                    <div class="comments">
                      <div class="user">
                        <div>
                          <img class="user_pic" src="pubulic/image/user.jpg" alt="">
                        </div>
                        <span>
                          <img src="pubulic/image/zan.png" alt="">125
                        </span>
                        <span>
                            <img src="pubulic/image/comment.png" alt="">33
                          </span>
                      </div>
                    </div>
                </div>
                <div class="desc">
                    <!-- 描述 -->
                    <div class="desc_pic">
                        <img class="desc_img" src="pubulic/image/1.jpg" alt="">
                        <div class="good">
                          <!-- 点赞小手 -->
                          <img class="desc_png" src="pubulic/image/zan.png" >
                        </div>
                        <div class="house_btn">
                          <span class="sour">房源</span>
                        </div>
                    </div>
                    <!-- 标题 -->
                    <div class="title">
                        <a href="javascript:;"><span>驰骋</span></a>
                    </div>
                    <div class="title_desc">
                        <a href="javascript:;">在海和峭壁之间，沿途有风景、有远方。</a>
                    </div>
                    <div class="comments">
                      <div class="user">
                        <div>
                          <img class="user_pic" src="pubulic/image/user.jpg" alt="">
                        </div>
                        <span>
                          <img src="pubulic/image/zan.png" alt="">125
                        </span>
                        <span>
                            <img src="pubulic/image/comment.png" alt="">33
                          </span>
                      </div>
                    </div>
                </div>
                <div class="desc">
                    <!-- 描述 -->
                    <div class="desc_pic">
                        <img class="desc_img" src="pubulic/image/7.jpg" alt="">
                        <div class="good">
                          <!-- 点赞小手 -->
                          <img class="desc_png" src="pubulic/image/zan.png" >
                        </div>
                        <div class="house_btn">
                          <span class="sour">房源</span>
                        </div>
                    </div>
                    <!-- 标题 -->
                    <div class="title">
                        <a href="javascript:;"><span>驰骋</span></a>
                    </div>
                    <div class="title_desc">
                        <a href="javascript:;">在海和峭壁之间，沿途有风景、有远方。</a>
                    </div>
                    <div class="comments">
                      <div class="user">
                        <div>
                          <img class="user_pic" src="pubulic/image/user.jpg" alt="">
                        </div>
                        <span>
                          <img src="pubulic/image/zan.png" alt="">125
                        </span>
                        <span>
                            <img src="pubulic/image/comment.png" alt="">33
                          </span>
                      </div>
                    </div>
                </div>
                <div class="desc">
                  <!-- 描述 -->
                  <div class="desc_pic">
                      <img class="desc_img" src="pubulic/image/7.jpg" alt="">
                      <div class="good">
                        <!-- 点赞小手 -->
                        <img class="desc_png" src="pubulic/image/zan.png" >
                      </div>
                      <div class="house_btn">
                        <span class="sour">房源</span>
                      </div>
                  </div>
                  <!-- 标题 -->
                  <div class="title">
                      <a href="javascript:;"><span>驰骋</span></a>
                  </div>
                  <div class="title_desc">
                      <a href="javascript:;">在海和峭壁之间，沿途有风景、有远方。</a>
                  </div>
                  <div class="comments">
                    <div class="user">
                      <div>
                        <img class="user_pic" src="pubulic/image/user.jpg" alt="">
                      </div>
                      <span>
                        <img src="pubulic/image/zan.png" alt="">125
                      </span>
                      <span>
                          <img src="pubulic/image/comment.png" alt="">33
                        </span>
                    </div>
                  </div>
              </div>
              <div class="desc">
                  <!-- 描述 -->
                  <div class="desc_pic">
                      <img class="desc_img" src="pubulic/image/4.jpg" alt="">
                      <div class="good">
                        <!-- 点赞小手 -->
                        <img class="desc_png" src="pubulic/image/zan.png" >
                      </div>
                      <div class="house_btn">
                        <span class="sour">房源</span>
                      </div>
                  </div>
                  <!-- 标题 -->
                  <div class="title">
                      <a href="javascript:;"><span>驰骋</span></a>
                  </div>
                  <div class="title_desc">
                      <a href="javascript:;">在海和峭壁之间，沿途有风景、有远方。</a>
                  </div>
                  <div class="comments">
                    <div class="user">
                      <div>
                        <img class="user_pic" src="pubulic/image/user.jpg" alt="">
                      </div>
                      <span>
                        <img src="pubulic/image/zan.png" alt="">125
                      </span>
                      <span>
                          <img src="pubulic/image/comment.png" alt="">33
                        </span>
                    </div>
                  </div>
              </div>
              <div class="desc">
                  <!-- 描述 -->
                  <div class="desc_pic">
                      <img class="desc_img" src="pubulic/image/10.jpg" alt="">
                      <div class="good">
                        <!-- 点赞小手 -->
                        <img class="desc_png" src="pubulic/image/zan.png" >
                      </div>
                      <div class="house_btn">
                        <span class="sour">房源</span>
                      </div>
                  </div>
                  <!-- 标题 -->
                  <div class="title">
                      <a href="javascript:;"><span>驰骋</span></a>
                  </div>
                  <div class="title_desc">
                      <a href="javascript:;">在海和峭壁之间，沿途有风景、有远方。</a>
                  </div>
                  <div class="comments">
                    <div class="user">
                      <div>
                        <img class="user_pic" src="pubulic/image/user.jpg" alt="">
                      </div>
                      <span>
                        <img src="pubulic/image/zan.png" alt="">125
                      </span>
                      <span>
                          <img src="pubulic/image/comment.png" alt="">33
                        </span>
                    </div>
                  </div>
              </div>
              <div class="desc">
                  <!-- 描述 -->
                  <div class="desc_pic">
                      <img class="desc_img" src="pubulic/image/7.jpg" alt="">
                      <div class="good">
                        <!-- 点赞小手 -->
                        <img class="desc_png" src="pubulic/image/zan.png" >
                      </div>
                      <div class="house_btn">
                        <span class="sour">房源</span>
                      </div>
                  </div>
                  <!-- 标题 -->
                  <div class="title">
                      <a href="javascript:;"><span>驰骋</span></a>
                  </div>
                  <div class="title_desc">
                      <a href="javascript:;">在海和峭壁之间，沿途有风景、有远方。</a>
                  </div>
                  <div class="comments">
                    <div class="user">
                      <div>
                        <img class="user_pic" src="pubulic/image/user.jpg" alt="">
                      </div>
                      <span>
                        <img src="pubulic/image/zan.png" alt="">125
                      </span>
                      <span>
                          <img src="pubulic/image/comment.png" alt="">33
                        </span>
                    </div>
                  </div>
              </div>

                
          </div>
              <!-- 查看更多 -->
            <div >
              <a class="more" href="javascript:;">显示全部&gt;</a>
            </div>
        </div>
        <!-- 六楼 -->
        <div class="discount">
          <div>
              <h3 class="title_bar">旅行保障</h3>
          </div>
        </div>
        <div class="protect">
          <div class="pro_lf">
            <div class="pro_png">
              <img src="pubulic/image/house.png" alt="">
            </div>
            <div class="pro_text">
              <span>安心房源保障</span>
              <span>人工审核所有中国房源页面信息，入住更放心</span> 
            </div>
          </div>
          <div class="pro_lf">
              <div class="pro_png">
                <img src="pubulic/image/phone.png" alt="">
              </div>
              <div class="pro_text">
                <span>安心房源保障</span>
                <span>人工审核所有中国房源页面信息，入住更放心</span> 
              </div>
          </div>
          <div class="pro_lf">
                <div class="pro_png">
                  <img src="pubulic/image/pro.png" alt="">
                </div>
                <div class="pro_text">
                  <span>安心房源保障</span>  
                  <span>人工审核所有中国房源页面信息，入住更放心</span>
                </div>
          </div>
        </div>
        <div >
            <a class="more" href="javascript:;">显示全部&gt;</a>
        </div>    
  </div>       
    <script src="static/js/banner.js"></script>
  <!--放一个id为footer的div,把footer.html加载到这块-->
<div id="footer"></div>       
</body>

</html>