<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../static/css/base.css">
  <link rel="stylesheet" href="../static/css/jingan.css">
</head>
<body>
  <header class="header">
    <div class="header_left">
      <div class="icon_logo">
        <svg t="1565784547769" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4748" width="32" height="32"><path d="M983.893333 0C1006.045867 0 1024 17.954133 1024 40.106667l0 274.466133 0 428.612267C1024 898.286933 898.286933 1024 743.2192 1024l-33.792 0L709.4272 314.606933 354.7136 314.606933 354.7136 0l354.7136 0L983.893333 0zM669.2864 354.7136 314.606933 354.7136 314.606933 0l-33.792 0C125.713067 0 0 125.713067 0 280.7808l0 703.112533C0 1006.045867 17.954133 1024 40.106667 1024l274.466133 0L314.5728 669.2864l354.7136 0L669.2864 354.7136z" p-id="4749" fill="#d81e06"></path></svg>
      </div>
      <div>
        <svg t="1565784354006" class="icon_search" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2931" width="32" height="32"><path d="M128.01376 447.813287A319.988534 319.988534 0 0 1 448.002293 127.995413a319.988534 319.988534 0 1 1 0 639.721077A319.988534 319.988534 0 0 1 128.01376 447.813287z m872.075417 436.720351L826.186075 710.374545A453.359755 453.359755 0 0 0 452.866119 0 453.359755 453.359755 0 0 0 0.018346 453.701076a453.274424 453.274424 0 0 0 452.933103 453.615745 450.117204 450.117204 0 0 0 258.294745-81.234422l173.56178 173.903102a81.490413 81.490413 0 0 0 115.366533 0 81.917065 81.917065 0 0 0 0-115.451863h-0.08533z" p-id="2932"></path></svg>
        <input type="text" class="header_search">
      </div>
    </div>
    <div class="header_right">
      <ul>
        <li><a href="javascript:;">登陆</a></li>
        <li><a href="javascript:;">注册</a></li>
        <li><a href="javascript:;">故事</a></li>
        <li><a href="javascript:;">成为房东/体验达人</a></li>
        <li><a href="javascript:;">帮助</a></li>
        <li><a href="javascript:;">手机端</a></li>
        <li><a href="javascript:;">人民币-￥</a></li>
      </ul>
    </div>
  </header>
  <div class="pic">
    <div class="pic_left">
      <img src="../pubulic/image/JA1.jpg" alt="">
    </div>
    <div class="pic_middle">
      <div>
          <img src="../pubulic/image/JA2.jpg" alt="">
      </div>
      <div>
          <img src="../pubulic/image/JA3.jpg" alt="">
      </div>
    </div>
    <div class="pic_right">
      <div>
          <img src="../pubulic/image/JA4.jpg" alt="">
      </div>
      <div>
          <img src="../pubulic/image/JA5.jpg" alt="">
      </div>
    </div>
  </div>
  <section>
    <div id="firstDiv">
      <div>
        <nav class="nav">
          <span>详情</span>
          <span>·</span>
          <span>评价</span>
          <span>·</span>
          <span>可订日期</span>
          <span>·</span>
          <span>位置</span>
          <span>·</span>
          <span>须知</span>
          <span>·</span>
          <span>房东</span>
        </nav>
      </div>
      <div class="details">
        <!-- 标题 -->
        <div class="details_title">
          <div class="sh_subtitle">
            <span>上海</span>
            <span>·</span>
            <span>整间LOFT</span>
          </div>
          <div class="sh_title">
            <h1>『桃之』门口两条地铁线,靠近淮海路环贸新天地徐家汇,交通便利,设计感极强+浪漫简洁舒适LOFT｡</h1>
          </div>
          <!-- 房源说明 -->
          <div class="explain">
            <div class="room">
              <img src="../pubulic/image/room.png" alt="">
              <span>1间卧室</span>
            </div>
            <div class="bed">
              <img src="../pubulic/image/bed.png" alt="">
              <span>1张床</span>
            </div>
            <div class="both">
              <img src="../pubulic/image/both.png" alt="">
              <span>1.5个卫生间</span>
            </div>
            <div class="people">
              <img src="../pubulic/image/people.png" alt="">
              <span>最多住2人</span>
            </div>
          </div>
          <div class="review_land">
            <span class="review">5.0分·99评论</span>
            <span class="land">超赞房东</span>
            <span class="subway">近地铁站</span>
            <span class="cook">可以做饭</span>
            <span  class="live">自助入住</span>
            <span class="washing">有洗衣机</span>
          </div>
        </div>
        <div class="land_info">
          <div class="landInfo">
            <div class="landInfo_left">
              <img src="../pubulic/image/land_pic.jpg" alt="">
            </div>
            <div class="landInfo_right">
              <span>房东：桃之</span>
              <span>联系房东</span>
              <p>共收到1000条评价·已验证</p>
            </div>
          </div>
          <div class="house_intr">
            <div>
              <p>洋房林立,梧桐掩映,静谧与繁华并存｡浓缩着上海的灵气与精华｡</p>
              <p>屋内干净舒适,浪漫惬意,温一炉香,沏一壶茶,生欢喜心｡</p>
              <p>在这里,邂逅你想要的时光｡</p>
            </div>
            <div>
              <span>更多房源介绍</span>
            </div>
          </div>
        </div>
        <div style="height: 159;vertical-align:middle;border-bottom:1px solid rgba(72,72,72,.2)">
          <div class="house_details">
            <div class="room_details">
              <p>卧室1</p>
              <div>
                <img src="../pubulic/image/double_bed.png" alt="">
              </div>
              <p>1张小号双人床</p>
            </div>
          </div>
        </div>
        <div>
          <div class="save">
            <div style="margin: 8px 0">
              <div class="save_content" style="padding: 12px 0">
                <span>爱彼迎旅行保障</span>
                <span>|</span>
                <span>全方位保障·出行无忧</span>
              </div>
            </div>
          </div>
        </div>
        <!-- 房源信息 -->
        <div class="house_info">
          <div>
            <span>整套房子/公寓</span>
            <span>独享整个房源，无需与房东或他人共住</span>
          </div>
          <div>
            <span>超赞房东</span>
            <span>超赞房东经验丰富、评分很高，他们致力于为房客提供优质的住宿体验</span>
          </div>
          <div>
            <span>入住/退房</span>
            <span>入住时间 14:00后 · 退房时间 12:00</span>
          </div>
          <div>
            <span>自助入住</span>
            <span>通过密码锁自助入住</span>
          </div>
        </div>
        <!-- 房屋设施介绍 -->
        <div class="house_facility">
          <div>
            <div>
                <div>
                  <img src="../pubulic/image/wifi.png" alt="">
                </div>
                <div><span>无限网络</span></div>
              </div>
              <div>
                <div>
                  <img src="../pubulic/image/kitchen.png" alt="">
                </div>
                <div><span>厨房</span></div>
              </div>
              <div>
                <div>
                  <img src="../pubulic/image/shampoo.png" alt="">
                </div>
                <div><span>洗发水</span></div>
              </div>
              <div>
                <div>
                  <img src="../pubulic/image/blower.png" alt="">
                </div>
                <div><span>吹风机</span></div>
              </div>
              <div>
                <div>
                  <img src="../pubulic/image/necessities.png" alt="">
                </div>
                <div><span>生活必需品</span></div>
              </div>
              <div>
                <div><span>9+</span></div>
                <div><a href="javascsript:;"><span>更多设施</span></a></div>
              </div>
          </div>
        </div>
        <div class="comment">
          <div class="comment_title">
            <div><h2>评价</h2></div>
            <div>
              <div>
                <div class="comment_star">
                  <img src="../pubulic/image/fiveStar.png" alt="">
                  <input type="text" placeholder="搜索评价">
                </div>
              </div>
            </div>
          </div>
          <div style="border-bottom: 1px solid rgba(72,72,72,.2)">
            <table>
              <tr>
                <td style="padding: 30px 75px 12px 0">如实描述</td>
                <td><img src="../pubulic/image/fiveStar.png" alt=""></td>
                <td style="padding: 0 75px 10px 70px">位置便利</td>
                <td><img src="../pubulic/image/fiveStar.png" alt=""></td>
              </tr>
              <tr>
                <td style="padding: 0 30px 12px 0">沟通交流</td>
                <td><img src="../pubulic/image/fiveStar.png" alt=""></td>
                <td style="padding: 0 75px 10px 70px">入住顺利</td>
                <td><img src="../pubulic/image/fiveStar.png" alt=""></td>
              </tr>
              <tr>
                <td>干净卫生</td>
                <td><img src="../pubulic/image/fiveStar.png" alt=""></td>
                <td style="padding: 0 75px 10px 70px">高性价比</td>
                <td><img src="../pubulic/image/fiveStar.png" alt=""></td>
              </tr>
            </table>
          </div>
          <div comment_content>
            <div class="comment_content_user">
              <div class="content_user_top clear">
                <div><a href="javascript:;"><img src="../pubulic/image/user_pic1.jpg" alt=""></a></div>
                <div>
                  <p>Ivanivan</p>
                  <p>2019年8月</p>
                </div>
              </div>
              <div class="content_user_bottom">
                <span>房东姐姐很热情,细心解答各种询问,房间干净整洁设施齐全,实地图和图片完全一致...很棒,是我住过民宿中少有的温馨的格调</span>
              </div>
            </div>
            <div class="comment_content_user">
              <div class="content_user_top clear">
                <div><a href="javascript:;"><img src="../pubulic/image/user_pic2.jpg" alt=""></a></div>
                <div>
                  <p>Ivanivan</p>
                  <p>2019年8月</p>
                </div>
              </div>
              <div class="content_user_bottom">
                <span>房间和图片一样 特别漂亮 设计紧凑却不会觉得拥挤 离地铁站蛮近 而且周围很多小店 很安逸 房东很好沟通 回复问题也很及时 很满意的一次入住体验
                </span>
              </div>
            </div>
            <div class="comment_content_user">
              <div class="content_user_top clear">
                <div><a href="javascript:;"><img src="../pubulic/image/user_pic3.jpg" alt=""></a></div>
                <div>
                  <p>Ivanivan</p>
                  <p>2019年8月</p>
                </div>
              </div>
              <div class="content_user_bottom">
                <span>房子装修的很漂亮,周围很便利,房东很好</span>
              </div>
            </div>
            <div class="comment_content_user">
              <div class="content_user_top clear">
                <div><a href="javascript:;"><img src="../pubulic/image/user_pic4.jpg" alt=""></a></div>
                <div>
                  <p>Ivanivan</p>
                  <p>2019年8月</p>
                </div>
              </div>
              <div class="content_user_bottom">
                <span>首先房源位置很好找,地理位置也不错,离iapm和日月光都特别近,整个房子的色彩我个人比较喜欢,是比较温馨的｡就是投影幕布觉得有点短以外都很满意,和男朋友在这住了一个多礼拜还是挺舒服滴!</span>
              </div>
            </div>
            <div class="comment_content_user">
              <div class="content_user_top clear">
                <div><a href="javascript:;"><img src="../pubulic/image/user_pic5.jpg" alt=""></a></div>
                <div>
                  <p>Ivanivan</p>
                  <p>2019年8月</p>
                </div>
              </div>
              <div class="content_user_bottom">
                <span>地理位置还是挺方便的｡周围吃喝都很方便｡性价比也不错｡总体来说还是可以的｡</span>
              </div>
            </div>
            <div class="comment_content_user">
              <div class="content_user_top clear">
                <div><a href="javascript:;"><img src="../pubulic/image/user_pic6.jpg" alt=""></a></div>
                <div>
                  <p>Ivanivan</p>
                  <p>2019年8月</p>
                </div>
              </div>
              <div class="content_user_bottom">
                <span>小姐姐房间很干净,地理位置也比较好~</span>
              </div>
            </div>
            <div class="comment_content_user">
              <div class="content_user_top clear">
                <div><a href="javascript:;"><img src="../pubulic/image/user_pic7.jpg" alt=""></a></div>
                <div>
                  <p>Ivanivan</p>
                  <p>2019年8月</p>
                </div>
              </div>
              <div class="content_user_bottom">
                <span>房子装修的不错,很有调调,我很喜欢｡房东很负责,投影不能用一直联系到很晚还帮我快递了电池上门终于好了!</span>
              </div>
            </div>
          </div>
          <div class="comment_paging">
            <ul class="clear">
              <li><a href="javascsript:;"><img src="../pubulic/image/left_paging.png" alt=""></a></li>
              <li><a href="javascsript:;">1</a></li>
              <li><a href="javascsript:;">2</a></li>
              <li><a href="javascsript:;">3</a></li>
              <li><a href="javascsript:;">···</a></li>
              <li><a href="javascsript:;">最后</a></li>
              <li><a href="javascsript:;"><img src="../pubulic/image/right_paging_act.png" alt=""></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>