<!DOCTYPE html>

<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
	<title></title>
    <link rel="stylesheet" href="static/css/register.css">
    
   
</head>
<body class="bck">
    <header id="header"></header>
    <!-- 注册界面 -->
	<div class="main">	
        <!-- 注册界面头部 -->
		<div class="head">
			<p class="reg">已有账号，<a href="Login_regin.html">立即登录</a></p>
        </div>
        <!-- 注册界面框 -->
        <div class="bg">
            <p>新用户注册</p>
            <div class="input">
                <span>请输入用户名：</span>
                <input type="text" name="uname" id="uname" placeholder="请输入用户名"><br>
                <span>&nbsp;&nbsp;请输入密码：&nbsp;&nbsp;</span>
                <input type="password" name="pwd" id="pwd" placeholder="设置密码"><br>
                <span>&nbsp;&nbsp;请确认密码：&nbsp;&nbsp;</span>
                <input type="password" id="cpwd" placeholder="确认密码"><br>
                <span>&nbsp;&nbsp;请输入邮箱：&nbsp;&nbsp;</span>
                <input type="text" name="mobile" id="mobile" placeholder="请输入邮箱"><br>
                <span>请输入手机号：</span>
                <input type="text" name="mobile" id="mobile" placeholder="请输入手机号"><br>
                <div class="bg-top"><input type="checkbox" checked="" id="agr-reg">我已经阅读并接受<span>《用户注册协议》</span></div>
                <div class="btn position">
                    <!-- 注册按钮 -->
                    <button id="loginBtn">请提交注册信息</button>
                </div>
            </div>
        </div>
    </div>	
    <!-- 背景图片 -->
    <div class="bg_img">
        <!-- <img class="bg_img" src="2.jpg"> -->
    </div>		

</body>
</html>